# .NET Core
## NuGet
*.nupkg
*.snupkg
*.nuget
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## Build
[Bb]in/
[Oo]bj/
[Ll]ogs/

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

## Rider
.idea/

## VS Code
.vscode/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock

# Angular
.angular/
dist/
.tmp/
*.js
*.js.map
*.d.ts
*.tsbuildinfo

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
*.suo
*.ntvs_analysis.dat
*.vscode/
.idea/

# Log files
*.log

# Build results
*.dll
*.exe
*.pdb
*.cache
*.csproj.user
*.dbmdl
*.bak
*.log
*.dmp
*.pidb
*.suo
*.swp

# DotCover
.idea/.idea.DotCover/
